<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/heroes.css">
    <link rel="stylesheet" href="./style/style.css">
    <title>Heroes</title>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <ul>
            <% for (const hero of heroes){ %>

                <li>
                    <div class="container">
                        <div>
                            <h1><%= hero.name %></h1>
                            <address><%= hero.author %> </address>|<time><%= hero.date %></time>
                            <p><%= hero.desc %></p>
                        </div>

                        <div id="crud">
                            <form action="/deletehero" method="POST">
                                <input type="text" name="delete" value="<%= hero._id %>" hidden>
                                <button>Delete</button>
                            </form>
                            <a href="update/<%= hero._id %>"><button>update</button></a> 
                            <a href="view/<%= hero._id %>"><button>view</button></a>
                        </div>
                        
                    </div>
                    <div class="container">
                        <img src="<%= hero.img %>" alt="" srcset="">
                    </div>
                </li>
            <% } %>
        </ul>

    </main>

</body>
</html>