<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/view.css">
    <script src="/script/load-comment.js" defer></script>
    <title>Detail</title>
</head>
<body>
    <header>
        <h2>
            <a href="/">Demon Slayer</a> 
        </h2>
        <ul>
            <a href="/heroes"><li>Heroes</li></a> 
            <a href="/demons"><li>Demons</li></a>
            <a href="/create"><li>Create Character</li></a>
        </ul>
        <form action="">
        <input type="text" placeholder="Search...">
        <!-- <button></button> -->
        </form>
        <div>
            <img src="/imgs/Low-Res-Kamado-Tanjiro-from-Demon-Slayer.webp" alt="Tangiro's Picture">
            <h3>Tangiro</h3>
        </div>
    </header>
    <main>
        <div>
            <img src="/<%= data.img %>" alt="Character's picture">
            <address> <span><%= data.author %></span>| <time> <%= data.date %></time></address>
            <p id="name"><%= data.name %></p>
            <p><%= data.desc %></p>
        </div>
    </main>
    
   <div id="Comments">
   <h1>Comments</h1>
   <h3></h3>
    <!-- <form action="/view/<%= data._id %>/comments" method="GET"> -->
        <!-- </form> -->
    <div id="commentsUlElement">
        <button id="load-comment" data-id="<%= data._id %>">Load Comments</button>
    </div> 
   </div>
   <div id="form-container">
    <form action="/view/<%= data._id %>/comments" id="form" method="POST">
        <div class="form-title">
            <label for="title">Name</label>
            <input type="text" hidden name="id" id="idComment" value="<%= data._id %>">
            <input type="text" id="nameComment" maxlength="20" required>
        </div>

        <div class="form-comment">
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" cols="30" rows="5" maxlength="70" required ></textarea>
        </div>
        
        <div class="form-button">
            <button>Add</button>
        </div>
    </form>
   </div>
   
    
</body>
</html>