<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/view.css">

    <title>Detail</title>
</head>
<body>
    <header>
        <h2>
            <a href="/">Demon Slayer</a> 
        </h2>
        <ul>
            <a href="/heroes"><li>Heroes</li></a> 
            <a href="/demons"><li>Demons</li></a>
            <a href="/create"><li>Create Character</li></a>
        </ul>
        <form action="">
        <input type="text" placeholder="Search...">
        <!-- <button></button> -->
        </form>
        <div>
            <img src="../imgs/Low-Res-Kamado-Tanjiro-from-Demon-Slayer.webp" alt="Tangiro's Picture">
            <h3>Tangiro</h3>
        </div>
    </header>
    <main>
        <div>
            <img src="../<%= data.img %>" alt="Character's picture">
            <address> <span><%= data.author %></span>| <time> <%= data.date %></time></address>
            <p id="name"><%= data.name %></p>
            <p><%= data.desc %></p>
        </div>
    </main>
    
</body>
</html>